<link rel="prefetch" href="assets/Mega-Evolution-Sigil.png" />
<div class="col-12 fadeIn MainDiv" *ngIf="pokemon!==undefined">
  <br>
  <h1 class="text-center text-uppercase Section-Heading" [ngClass]="{fOut:!visible}">{{pokemon.name}}</h1>
  <div class="justify-content-center text-center">
    <!--    Had Padding Buttom 20px-->
    <span style="padding: 4px" class="genera text-capitalize {{pokemon.color}} rounded fadeIn" data-toggle="modal" data-target="#descModal"
      *ngIf="pokemonGenera!=undefined">{{pokemonGenera}}</span>
  </div>
  <div class="row justify-content-center" style="position: relative;padding-bottom: 3rem">
    <div class="bubbles" *ngIf="megaEvolving" [ngClass]="{'fIn': BubblesVisible}">
      <div class="bubble-wrap">
        <ng-container *ngFor="let _ of [].constructor(200)">
          <div class="bubble"></div>
        </ng-container>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 bioDiv d-flex flex-wrap justify-content-center" [ngClass]="{fOut:!visible}">
      <div class="inner">
        <table class="table table-borderless">
          <tr>
            <td class="text-right font-weight-bold">ID</td>
            <td>#{{pokemon.id}}</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold">Height</td>
            <td style="white-space: nowrap;">{{heightInMetres + "m ( " + heightInFeetInches + " )"}}</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold">Weight</td>
            <td style="white-space: nowrap;">{{weightInKgs + "kg ( " + weightInPounds + "lbs. )"}}</td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold">Abilities</td>
            <td>
              <span class="abilities" *ngFor="let ability of pokemon.abilities; let i=index">
                <ng-container *ngIf="i==2"><br></ng-container>
                <span class="ability {{pokemon.color}} text-uppercase" [ngClass]="{'hiddenAbility':ability['isH']}" role="button" (click)="selectAbility(i)"
                  style="white-space:nowrap;" [ngStyle]="{'display':i==2?'inline-block':'unset','margin-top':i==2?'5px':'0px'}" data-toggle="modal"
                  data-target="#abilityModal">{{ability['n']}}</span>
              </span>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="vertical-align: middle;">Type</td>
            <td>
              <div class="row" style="flex-wrap: nowrap" data-toggle="modal" data-target="#typesModal">
                <div class="text-capitalize row icon {{type['n']}}" *ngFor="let type of pokemon.types"><span class="col-8 text-white">{{type['n']}}</span><span
                    class="col-4"><img alt="" class="img-fluid" src="assets/type-icons/png/{{type['n']}}.png"></span></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold">Forms</td>
            <td class="formsBlock text-capitalize">
              <span class="varieties" *ngFor="let formName of formattedFormNames;let i=index" style="white-space: pre;">
                <span class="variety {{pokemon.color}} text-uppercase" (click)="selectForm(i)" [ngClass]="{selectedForm:selectedFormNo===i}">{{formName}}</span>
                <ng-container *ngIf="(i+1)%2==0"><br></ng-container>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-lg-5 d-flex flex-wrap align-items-center">
      <div class="image-container">
        <img alt="" class="Image img-fluid mx-auto my-auto d-block fadeInOut" [src]="pokemonImageUrl" (load)="imagePreload()"
          [ngClass]="{fadeImg: !imageLoading,fOut :!imageVisible}">
        <img alt="" class="mega-sigil" src="assets/Mega-Evolution-Sigil.png" *ngIf="megaEvolving" [ngClass]="{'fIn': SigilVisible, 'sigil-end': sigilEnd}">
        <div class="megaSphere" *ngIf="megaEvolving" [ngClass]="{'fIn': SphereVisible}"></div>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 statDiv my-auto mx-auto d-flex flex-wrap justify-content-center">
      <div class="inner">
        <table class="table table-borderless">
          <tr>
            <td></td>
            <td>
              <button class="btn rounded-pill font-weight-bold" (click)="showStats('base')" [ngClass]="selectedStat=='base' ? pokemon.color : null">Base
              </button>
            </td>
            <td>
              <button class="btn rounded-pill font-weight-bold" (click)="showStats('min')" [ngClass]="selectedStat=='min' ? pokemon.color : null">Min
              </button>
            </td>
            <td>
              <button class="btn rounded-pill font-weight-bold" (click)="showStats('max')" [ngClass]="selectedStat=='max' ? pokemon.color : null">Max
              </button>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">HP</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                  aria-valuemax="255" [ngClass]="pokemon.color" [ngStyle]="{'width': stats[0]}">
                  <span>{{statsToShow[0]}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Attack</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                  aria-valuemax="255" [ngClass]="pokemon.color" [ngStyle]="{'width': stats[1]}">
                  <span>{{statsToShow[1]}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Defence</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                  aria-valuemax="255" [ngClass]="pokemon.color" [ngStyle]="{'width': stats[2]}">
                  <span>{{statsToShow[2]}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Sp. Attack</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                  aria-valuemax="255" [ngClass]="pokemon.color" [ngStyle]="{'width': stats[3]}">
                  <span>{{statsToShow[3]}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Sp. Defence</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                  aria-valuemax="255" [ngClass]="pokemon.color" [ngStyle]="{'width': stats[4]}">
                  <span>{{statsToShow[4]}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Speed</td>
            <td colspan="3">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated rounded-sm" role="progressbar" aria-valuenow="" aria-valuemin="0"
                  aria-valuemax="255" [ngClass]="pokemon.color" [ngStyle]="{'width': stats[5]}">
                  <span>{{statsToShow[5]}}</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-right font-weight-bold" style="white-space:nowrap;">Total</td>
            <td colspan="3">
              {{totalBaseStats()}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="evolutionChain.length>0" style="padding-bottom: 3rem">
    <h1 class="Heading text-center text-uppercase" style="margin-bottom: 1.5rem;"><span class="rounded" [ngClass]="pokemon.color"
        style="padding: 2px 4px 4px;">Evolution
        Chain</span>
    </h1>
    <div class="row justify-content-center" style="padding-bottom: 3rem">
      <ng-container [ngSwitch]="exceptionalChainType">
        <ng-container *ngSwitchCase="''">
          <ng-container class="text-capitalize" *ngFor="let stage of evolutionChain; let i =index">
            <div class="col-sm evo-div" style="padding: 10px;">
              <div *ngIf="evolutionChain.length===1" class="DNE">This Pokémon does not evolve.</div>
              <div>
                <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(stage[1], 4) + '.png'}}"
                  routerLink="/pokemon/{{stage[1]}}" (click)="selectEvolution(stage[1])">
              </div>
              <div class="evo-id text-center">#{{stage[1]}}</div>
              <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{stage[1]}}" (click)="selectEvolution(stage[1])"
                style="padding: 0; bottom: 0"><span class="evo-name {{pokemon.color}}"
                  [ngClass]="{'selectedEvo':selectedEvolutionId===stage[1]}">{{stage[0]}}</span>
              </div>
              <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[stage[1]-1]!=undefined">
                <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[stage[1]-1].types"><img alt=""
                    src="assets/type-icons/png/{{type['n']}}.png"></div>
              </div>
            </div>
            <div class='col-sm arrow-div evo-desc' *ngIf="i<evolutionChain.length-1">
              <img alt="" src="assets/right-arrow.png" class="evo-arrow">
              {{evolutionDesc[i]}}
            </div>
          </ng-container>
        </ng-container>
        <ng-container
          *ngSwitchCase="exceptionalChainType === '112' || exceptionalChainType === '12'|| exceptionalChainType === '13'? exceptionalChainType : 'null'">
          <ng-container class="text-capitalize" *ngFor="let stage of evolutionChain; let i =index">
            <ng-container *ngIf="i<evolutionChain.length-1; else MultiStage">
              <div class="col-sm evo-div" style="padding: 10px;">
                <div>
                  <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(stage[1], 4) + '.png'}}"
                    routerLink="/pokemon/{{stage[1]}}" (click)="selectEvolution(stage[1])">
                </div>
                <div class="evo-id text-center">#{{stage[1]}}</div>
                <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{stage[1]}}" (click)="selectEvolution(stage[1])"
                  style="padding: 0; bottom: 0"><span class="evo-name {{pokemon.color}}"
                    [ngClass]="{'selectedEvo':selectedEvolutionId===stage[1]}">{{stage[0]}}</span>
                </div>
                <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[stage[1]-1]!=undefined">
                  <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[stage[1]-1].types"><img alt=""
                      src="assets/type-icons/png/{{type['n']}}.png"></div>
                </div>
              </div>
              <ng-container *ngIf="i<evolutionChain.length-2; else MultiArrowStage">
                <div class='col-sm arrow-div evo-desc'>
                  <img alt="" src="assets/right-arrow.png" class="evo-arrow">
                  {{evolutionDesc[i]}}
                </div>
              </ng-container>
              <ng-template #MultiArrowStage>
                <div class="multi-arrow-stage">
                  <ng-container *ngFor="let evolutionSideDesc of evolutionDesc[i];">
                    <div class="arrow-div" *ngIf="i<evolutionChain.length-1">
                      <div class='col-sm evo-desc'>
                        <img alt="" src="assets/right-arrow.png" class="evo-arrow">
                        {{evolutionSideDesc}}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-template>
            </ng-container>
            <ng-template #MultiStage>
              <div class="col-sm multi-evo-stage">
                <ng-container *ngFor="let sideStage of stage;">
                  <div class="col-sm evo-div" style="padding: 10px;">
                    <div>
                      <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(sideStage[1], 4) + '.png'}}"
                        routerLink="/pokemon/{{sideStage[1]}}" (click)="selectEvolution(sideStage[1])">
                    </div>
                    <div class="evo-id text-center">#{{sideStage[1]}}</div>
                    <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{sideStage[1]}}" (click)="selectEvolution(sideStage[1])"
                      style="padding: 0; bottom: 0">
                      <span class="evo-name {{pokemon.color}}" [ngClass]="{'selectedEvo':selectedEvolutionId===sideStage[1]}">{{sideStage[0]}}</span>
                    </div>
                    <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[sideStage[1]-1]!=undefined">
                      <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[sideStage[1]-1].types"><img alt=""
                          src="assets/type-icons/png/{{type['n']}}.png">
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'122'">
          <ng-container class="text-capitalize" *ngFor="let stage of evolutionChain; let i =index">
            <ng-container *ngIf="i<evolutionChain.length-2; else MultiStage">
              <div class="col-sm evo-div" style="padding: 10px;">
                <div>
                  <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(stage[1], 4) + '.png'}}"
                    routerLink="/pokemon/{{stage[1]}}" (click)="selectEvolution(stage[1])">
                </div>
                <div class="evo-id text-center">#{{stage[1]}}</div>
                <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{stage[1]}}" (click)="selectEvolution(stage[1])"
                  style="padding: 0; bottom: 0"><span class="evo-name {{pokemon.color}}"
                    [ngClass]="{'selectedEvo':selectedEvolutionId===stage[1]}">{{stage[0]}}</span>
                </div>
                <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[stage[1]-1]!=undefined">
                  <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[stage[1]-1].types"><img alt=""
                      src="assets/type-icons/png/{{type['n']}}.png"></div>
                </div>
              </div>
              <ng-container *ngIf="i<evolutionChain.length-3; else MultiArrowStage">
                <div class='col-sm arrow-div evo-desc'>
                  <img alt="" src="assets/right-arrow.png" class="evo-arrow">
                  {{evolutionDesc[i]}}
                </div>
              </ng-container>
              <ng-template #MultiArrowStage>
                <div class="multi-arrow-stage">
                  <ng-container *ngFor="let evolutionSideDesc of evolutionDesc[i];">
                    <div class="arrow-div" *ngIf="i<evolutionChain.length-1">
                      <div class='col-sm evo-desc'>
                        <img alt="" src="assets/right-arrow.png" class="evo-arrow">
                        {{evolutionSideDesc}}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-template>
            </ng-container>
            <ng-template #MultiStage>
              <div class="col-sm multi-evo-stage">
                <ng-container *ngFor="let sideStage of stage;">
                  <div class="col-sm evo-div" style="padding: 10px;">
                    <div>
                      <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(sideStage[1], 4) + '.png'}}"
                        routerLink="/pokemon/{{sideStage[1]}}" (click)="selectEvolution(sideStage[1])">
                    </div>
                    <div class="evo-id text-center">#{{sideStage[1]}}</div>
                    <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{sideStage[1]}}" (click)="selectEvolution(sideStage[1])"
                      style="padding: 0; bottom: 0">
                      <span class="evo-name {{pokemon.color}}" [ngClass]="{'selectedEvo':selectedEvolutionId===sideStage[1]}">{{sideStage[0]}}</span>
                    </div>
                    <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[sideStage[1]-1]!=undefined">
                      <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[sideStage[1]-1].types"><img alt=""
                          src="assets/type-icons/png/{{type['n']}}.png">
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
              <ng-container *ngIf="i<evolutionChain.length-3; else MultiArrowStage">
                <div class='col-sm arrow-div evo-desc'>
                  <img alt="" src="assets/right-arrow.png" class="evo-arrow">
                  {{evolutionDesc[i]}}
                </div>
              </ng-container>
              <ng-template #MultiArrowStage>
                <div class="multi-arrow-stage">
                  <ng-container *ngFor="let evolutionSideDesc of evolutionDesc[i];">
                    <div class="arrow-div" *ngIf="i<evolutionChain.length-1">
                      <div class='col-sm evo-desc'>
                        <img alt="" src="assets/right-arrow.png" class="evo-arrow">
                        {{evolutionSideDesc}}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-template>
            </ng-template>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'18'">
          <div class="eeveeRow1">
            <ng-container class="text-capitalize" *ngFor="let row1 of evolutionChain[1].slice(0,3); let i =index">
              <div class="col-sm evo-div" style="padding: 10px;">
                <div>
                  <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(row1[1], 4) + '.png'}}"
                    routerLink="/pokemon/{{row1[1]}}" (click)="selectEvolution(row1[1])">
                </div>
                <div class="evo-id text-center">#{{row1[1]}}</div>
                <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{row1[1]}}" (click)="selectEvolution(row1[1])"
                  style="padding: 0; bottom: 0"><span class="evo-name {{pokemon.color}}"
                    [ngClass]="{'selectedEvo':selectedEvolutionId===row1[1]}">{{row1[0]}}</span>
                </div>
                <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[row1[1]-1]!=undefined">
                  <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[row1[1]-1].types"><img alt=""
                      src="assets/type-icons/png/{{type['n']}}.png"></div>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="eeveeRow2">
            <ng-container *ngFor="let evolutionSideDesc of evolutionDesc[0].slice(0,3);let i = index;">
              <div class="arrow-div">
                <div class='col-sm evo-desc' [ngClass]="{'corner1':i===0,'corner2':i==2}">
                  <img alt="" src="assets/right-arrow.png" class="evo-arrow">
                  {{evolutionSideDesc}}
                </div>
              </div>
            </ng-container>
          </div>
          <div class="eeveeRow3">
            <div class="col-sm evo-div text-capitalize" style="padding: 10px;">
              <div>
                <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(evolutionChain[1][3][1], 4) + '.png'}}"
                  routerLink="/pokemon/{{evolutionChain[1][3][1]}}" (click)="selectEvolution(evolutionChain[1][3][1])">
              </div>
              <div class="evo-id text-center">#{{evolutionChain[1][3][1]}}</div>
              <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{evolutionChain[1][3][1]}}"
                (click)="selectEvolution(evolutionChain[1][3][1])" style="padding: 0; bottom: 0"><span class="evo-name {{pokemon.color}}"
                  [ngClass]="{'selectedEvo':selectedEvolutionId===evolutionChain[1][3][1]}">{{evolutionChain[1][3][0]}}</span>
              </div>
              <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[evolutionChain[1][3][1]-1]!=undefined">
                <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[evolutionChain[1][3][1]-1].types"><img alt=""
                    src="assets/type-icons/png/{{type['n']}}.png"></div>
              </div>
            </div>
            <div class="arrow-div">
              <div class='col-sm evo-desc'>
                <img alt="" src="assets/right-arrow.png" class="evo-arrow" style="transform: rotate(180deg)">
                {{evolutionDesc[0][3]}}
              </div>
            </div>
            <div class="col-sm evo-div text-capitalize" style="padding: 10px;">
              <div>
                <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(evolutionChain[0][1], 4) + '.png'}}"
                  routerLink="/pokemon/{{evolutionChain[0][1]}}" (click)="selectEvolution(evolutionChain[0][1])">
              </div>
              <div class="evo-id text-center">#{{evolutionChain[0][1]}}</div>
              <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{evolutionChain[0][1]}}" (click)="selectEvolution(evolutionChain[0][1])"
                style="padding: 0; bottom: 0"><span class="evo-name {{pokemon.color}}"
                  [ngClass]="{'selectedEvo':selectedEvolutionId===evolutionChain[0][1]}">{{evolutionChain[0][0]}}</span>
              </div>
              <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[evolutionChain[0][1]-1]!=undefined">
                <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[evolutionChain[0][1]-1].types"><img alt=""
                    src="assets/type-icons/png/{{type['n']}}.png"></div>
              </div>
            </div>
            <div class="arrow-div">
              <div class='col-sm evo-desc'>
                <img alt="" src="assets/right-arrow.png" class="evo-arrow" style="transform: rotate(0deg)">
                {{evolutionDesc[0][4]}}
              </div>
            </div>
            <div class="col-sm evo-div text-capitalize" style="padding: 10px;">
              <div>
                <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(evolutionChain[1][4][1], 4) + '.png'}}"
                  routerLink="/pokemon/{{evolutionChain[1][4][1]}}" (click)="selectEvolution(evolutionChain[1][4][1])">
              </div>
              <div class="evo-id text-center">#{{evolutionChain[1][3][1]}}</div>
              <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{evolutionChain[1][4][1]}}"
                (click)="selectEvolution(evolutionChain[1][4][1])" style="padding: 0; bottom: 0"><span class="evo-name {{pokemon.color}}"
                  [ngClass]="{'selectedEvo':selectedEvolutionId===evolutionChain[1][4][1]}">{{evolutionChain[1][4][0]}}</span>
              </div>
              <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[evolutionChain[1][4][1]-1]!=undefined">
                <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[evolutionChain[1][4][1]-1].types"><img alt=""
                    src="assets/type-icons/png/{{type['n']}}.png"></div>
              </div>
            </div>
          </div>
          <div class="eeveeRow2">
            <ng-container *ngFor="let evolutionSideDesc of evolutionDesc[0].slice(5,8);let i = index;">
              <div class="arrow-div">
                <div class='col-sm evo-desc' [ngClass]="{'corner3':i===0,'corner3-4':i==1,'corner4':i==2}">
                  <img alt="" src="assets/right-arrow.png" class="evo-arrow">
                  {{evolutionSideDesc}}
                </div>
              </div>
            </ng-container>
          </div>
          <div class="eeveeRow1">
            <ng-container class="text-capitalize" *ngFor="let row1 of evolutionChain[1].slice(5,8); let i =index">
              <div class="col-sm evo-div" style="padding: 10px;">
                <div>
                  <img alt="" class="evo-img mx-auto d-block" src="assets/thumbnails-compressed/{{this.pad(row1[1], 4) + '.png'}}"
                    routerLink="/pokemon/{{row1[1]}}" (click)="selectEvolution(row1[1])">
                </div>
                <div class="evo-id text-center">#{{row1[1]}}</div>
                <div class="evo-name text-uppercase text-center" routerLink="/pokemon/{{row1[1]}}" (click)="selectEvolution(row1[1])"
                  style="padding: 0; bottom: 0"><span class="evo-name {{pokemon.color}}"
                    [ngClass]="{'selectedEvo':selectedEvolutionId===row1[1]}">{{row1[0]}}</span>
                </div>
                <div class="evo-types col-xs-5" style="padding: 0;" *ngIf="pokemonService.pokemons[row1[1]-1]!=undefined">
                  <div class="icon {{type['n']}}" *ngFor="let type of pokemonService.pokemons[row1[1]-1].types"><img alt=""
                      src="assets/type-icons/png/{{type['n']}}.png"></div>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row justify-content-center SubSections">
      <div class="col-lg col-md-4 col-sm-6 justify-content-center">
        <h1 class="Heading text-center text-uppercase">A faire</h1>
        <div class="inner">
<!--          <table class="table table-borderless">-->
<!--            <tr>-->
<!--              <td class="text-right font-weight-bold">EV yield</td>-->
<!--              <td>-->
<!--                <span *ngIf="pokemon.stats[0]['EV']!==0"><span class="{{pokemon.color+'-text'}}">{{pokemon.stats[0]['EV']}}</span> HP </span>-->
<!--                <span *ngIf="pokemon.stats[1]['EV']!==0"><span class="{{pokemon.color+'-text'}}">{{pokemon.stats[1]['EV']}}</span> Attack </span>-->
<!--                <span *ngIf="pokemon.stats[2]['EV']!==0"><span class="{{pokemon.color+'-text'}}">{{pokemon.stats[2]['EV']}}</span> Defence </span>-->
<!--                <span *ngIf="pokemon.stats[3]['EV']!==0"><span class="{{pokemon.color+'-text'}}">{{pokemon.stats[3]['EV']}}</span> Sp. Attack </span>-->
<!--                <span *ngIf="pokemon.stats[4]['EV']!==0"><span class="{{pokemon.color+'-text'}}">{{pokemon.stats[4]['EV']}}</span> Sp. Defence </span>-->
<!--                <span *ngIf="pokemon.stats[5]['EV']!==0"><span class="{{pokemon.color+'-text'}}">{{pokemon.stats[5]['EV']}}</span> Speed </span>-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-right font-weight-bold">Catch Rate</td>-->
<!--              <td><span class="{{pokemon.color+'-text'}}">{{pokemon.speciesDetails['CaR']}}</span>{{" (" +-->
<!--                calculateCatchRate(pokemon.speciesDetails['CaR']) + ")"}}-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-right font-weight-bold">Base Friendship</td>-->
<!--              <td><span class="{{pokemon.color+'-text'}}">{{pokemon.speciesDetails['BaH']}}</span>{{' (' +-->
<!--                getFriendShip(pokemon.speciesDetails['BaH']) + ')'}}-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-right font-weight-bold">Base Exp.</td>-->
<!--              <td class="{{pokemon.color+'-text'}}">{{pokemon.baseExperience}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-right font-weight-bold">Growth Rate</td>-->
<!--              <td><span class="{{pokemon.color+'-text'}}">{{capitalizeSplitJoin(pokemon.speciesDetails['GrR'], '-', '-->
<!--                  ')}}</span>-->
<!--                {{" (" + getExperiencePoints(pokemon.speciesDetails['GrR']) + ' Exp.)'}}</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td class="text-right font-weight-bold">Held Items</td>-->
<!--              <td><span class="{{pokemon.color+'-text'}} d-block" *ngIf="pokemon.heldItems.length===0">None</span>-->
<!--                <span class="d-block" *ngFor="let heldItem of pokemon.heldItems"><span class="{{pokemon.color+'-text'}}">{{capitalizeSplitJoin(heldItem['n'],-->
<!--                    '-', ' ')}}</span>{{'-->
<!--                  (' +-->
<!--                  heldItem['%'] + '%) '}}</span>-->
<!--              </td>-->
<!--            </tr>-->
<!--          </table>-->

        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-6 justify-content-center">
        <div class="inner">
          <h1 class="Heading text-center text-uppercase">Forms</h1>
          <table class="table table-borderless" style="width: auto;margin: auto auto 1rem;">
            <tr>
              <td class="text-right font-weight-bold">Alternative Forms</td>
              <td class="text-capitalize" class="{{pokemon.color+'-text'}}">
                {{(pokemonForms.length - 1) === 0 ? 'No' : 'Yes'}}
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">Gender Differences</td>
              <td class="{{pokemon.color+'-text'}}">{{pokemon.speciesDetails['GDi'] == true ? 'Yes' : 'No'}}</td>
            </tr>
            <tr *ngIf="pokemon.speciesDetails['FD']!==null">
              <td colspan="2" class="text-center">
                <span class='ColoredButton' [ngClass]="pokemon.color" data-toggle="modal" data-target="#formsModal">Forms Info.</span>
              </td>
            </tr>
            <tr *ngIf="genderDifferences[pad(pokemon.id,3)]!==undefined">
              <td colspan="2" class="text-center">
                <span class='ColoredButton' [ngClass]="pokemon.color" data-toggle="modal" data-target="#genderModal">Gender Info.</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-6 justify-content-center TypeEffDiv">
        <h1 class="Heading text-center text-uppercase">Typing</h1>
        <div class="inner">
          <table class="table">
            <tr>
              <td class="text-right font-weight-bold">0x</td>
              <td>
                <div class="typeDefencesRow" style="padding: 0;" *ngIf="typeDefences!=undefined">
                  <div class="icon {{type}}" *ngFor="let type of typeDefences['0x']"><img alt="" src="assets/type-icons/png/{{type}}.png"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">0.25x</td>
              <td>
                <div class="typeDefencesRow" style="padding: 0;" *ngIf="typeDefences!=undefined">
                  <div class="icon {{type}}" *ngFor="let type of typeDefences['0.25x']"><img alt="" src="assets/type-icons/png/{{type}}.png"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">0.5x</td>
              <td>
                <div class="typeDefencesRow" style="padding: 0;" *ngIf="typeDefences!=undefined">
                  <div class="icon {{type}}" *ngFor="let type of typeDefences['0.5x']"><img alt="" src="assets/type-icons/png/{{type}}.png"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">2x</td>
              <td>
                <div class="typeDefencesRow" style="padding: 0;" *ngIf="typeDefences!=undefined">
                  <div class="icon {{type}}" *ngFor="let type of typeDefences['2x']"><img alt="" src="assets/type-icons/png/{{type}}.png"></div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="text-right font-weight-bold">4x</td>
              <td>
                <div class="typeDefencesRow" style="padding: 0;" *ngIf="typeDefences!=undefined">
                  <div class="icon {{type}}" *ngFor="let type of typeDefences['4x']"><img alt="" src="assets/type-icons/png/{{type}}.png"></div>

                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
